body{
    padding: 0cm;
    margin: 0cm;
    background-color: rgb(255, 248, 248);
    font-family: 'Times New Roman', Times, serif;
  }
  .Conteiner{
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Conteiner a{
    text-decoration: none;
    font-size: 50px;
    margin: 50px;
    color: black;
  }